<!-- templates/game.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Комната {{ room }}</title>
</head>
<body>
  <h1>Код комнаты: {{ room }}</h1>
  <p>Подключено игроков: <span id="playerCount">{{ player_count }}</span></p>
  <p id="status"></p>

  {% if is_creator %}
  <h2>Выберите режим игры</h2>
  <button data-mode="2.1">Режим 2.1 (красный)</button>
  <button data-mode="2.2">Режим 2.2 (зеленый)</button>

  {% else %}
  <p>Ожидаем выбор режима создателем комнаты...</p>
  {% endif %}
  
  <button onclick="window.location.href='/room_setup'">Выйти из комнаты</button>

  <script>
	  window.roomCode = "{{ room|e }}";
	  window.isCreator = {{ 'true' if is_creator else 'false' }};
	  window.sessionId = "{{ session['session_id']|e }}";
	</script>


  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
  <script src="/static/game.js"></script>
</body>
</html>
